* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.ads-banner {
    min-height: 45px;
    padding: 10px 30px;
    background: linear-gradient(45deg, #f2295bff, #ff7373ff);
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.ads-banner__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    white-space: nowrap;
}

.section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.header {
    max-width: 1640px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    
}
.nav__item {
    padding: 16px 18px;
    font-size: 17px;
}

.nav__item:nth-child(-n+3)::after {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="%23000000" width="20px" height="20px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M24 11.305l-7.997 11.39L8 11.305z"/></svg>');
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.nav__item:nth-child(5)::after {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="%23000000" width="20px" height="20px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M24 11.305l-7.997 11.39L8 11.305z"/></svg>');
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.search {
    position: relative;
}

.search::after {
    content: "⌘ ﹢ K";
    height: 20px;
    border-radius: 5px;
    padding: 2px 7px 0px 7px;
    color: #fff;
    font-size: 12px;
    background-color: #414141;
    position: absolute;
    top: 9px;
    right: 10px;

}

.search__input {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background: #d9d9d9;
    border: solid 1px #c7c7c7;
    padding-left: 35px;
    font-size: 18px;
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.search__button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: no-repeat center top;
    background-image: url('data:image/svg+xml,<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
    width: 20px;
    height: 20px;
}

.mobile-nav {
    display: none;
}


.block-greating {
    display: flex;
}

.block-greating__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 600px;
    margin: 30px;
}

.main-title {
    font-size: 70px;
}

.main-text {
    font-size: 24px;
}

.block-greating__foto {
    width: 100%;
    background-color: black;
    border-radius: 20px;
    margin: 30px;
}

.button-learn {
    margin-right: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    background-color: #37366f;
    border: solid 2px #37366f;
}

.button-learn::after {
    vertical-align: middle;
    padding-left: 8px;
    content: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="%23000000" stroke="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><g id="Complete"><g id="arrow-right"><g><polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="%23ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline><line fill="none" stroke="%23ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"></line></g></g></g></g></svg>');
}

.button-templates {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 2px #cdcdcd;
}

.button-templates::after {
    vertical-align: middle;
    padding-left: 8px;
    content: url('data:image/svg+xml,<svg fill="%23000000" width="20px" height="20px" viewBox="0 0 24 24" id="right-arrow" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="primary" d="M21.71,11.29l-3-3a1,1,0,0,0-1.42,1.42L18.59,11H3a1,1,0,0,0,0,2H18.59l-1.3,1.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,21.71,11.29Z" style="fill: %23000000;"></path></g></svg>');
}


@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }
    .mobile-nav {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 525px) {
    .mobile-nav {
        width: 70px;
    }
    .button__search-popup {
        margin-left: 5px;
    }
    .button__mobile-menu {
        margin-left: 5px;
    }
}
