@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700;900&display=swap');

:root {
    --color-promo: linear-gradient(230deg,#FF7373 0%,#f2295b 100%);
    --color-foreground: #000;
    --color-foreground-secondary: #515151;
    /* --color-foreground-secondary-active: #8b8a8a26; */
    /* --color-foreground-button: #444; */
    /* --color-foreground-button-active: #000; */
    --color-foreground-alt: #fff;
    /* --color-background: #fff; */
    --color-background-alt: #000;
    /* --color-background-button: #eee; */
    /* --color-background-button-active: #ddd; */
    --color-background-accent: #37366f;
    /* --color-background-accent-active: #53528b; */
    /* --color-border: #eee; */
    --color-border-bold: #cdcdcd;
    --color-subtitle: #808080;
    --color-link: #ff6347;
    --color-background-footer: #1c262f;

    --search-background: #414141;
    /* --search-shadow: inset 0 0 4px rgba(0, 0, 0, .25); */
    /* --search-color: rgb(65, 65, 65); */
    /* --search-shortcut-background: rgb(65, 65, 65); */
    /* --search-shortcut-color: #fff; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.ads-banner {
    min-height: 45px;
    padding: 10px 30px;
    background: var(--color-promo);
    color: var(--color-foreground-alt);
    text-align: center;
    font-size: 18px;
}
.ads-banner__link {
    color: var(--color-foreground-alt);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    white-space: nowrap;
}

.section-content {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.header {
    max-width: 1640px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__photo {
    margin-right: 15px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    height: 50px;
    position: relative;
}

.nav__item {
    padding: 16px 18px;
    font-size: 17px;
}

.nav__item:hover {
    border-bottom: solid 3px var(--color-foreground);
}

.nav__item:nth-child(-n+3)::after {
    content: "⏷";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
 }

.nav__item:nth-child(5)::after {
    content: "⏷";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.nav__sub-menu {
    position: absolute;
    width: 100%;
    background-color: var(--color-foreground-alt);
    border-radius: 5px;
    border: solid 1px var(--color-foreground-secondary);
    top: 57px;
    left: 0;
    padding: 24px 16px;
    visibility: hidden;
    list-style: none;
}

.nav__item:hover .nav__sub-menu {
    visibility: visible;
}

.search {
    position: relative;
}

.search::after {
    content: "⌘ ﹢ K";
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    color: var(--color-foreground-alt);
    font-size: 12px;
    background-color: var(--search-background);
    position: absolute;
    top: 9px;
    right: 10px;

}

.search__input {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background: #d9d9d9;
    border: solid 1px #c7c7c7;
    padding-left: 35px;
    font-size: 18px;
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.search__button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: no-repeat center top;
    background-image: url('data:image/svg+xml,<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
    width: 20px;
    height: 20px;
}

.mobile-nav {
    display: none;
}


.block-greating {
    display: flex;
    margin-bottom: 5%;
}

.block-greating__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 30px;
}

.main-title {
    font-size: 70px;
    font-weight: 900;
}

.main-text {
    font-size: 24px;
}

.wrapper-main-photo {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
}
.block-greating__photo {
    border-radius: 20px;
    width: 100%;
}

.button-learn {
    margin-right: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-foreground-alt);
    border-radius: 6px;
    background-color: var(--color-background-accent);
    border: solid 2px var(--color-background-accent);
    margin-bottom: 20px;
}

.button-learn::after {
    vertical-align: middle;
    content: ' ➜';
}

.button-templates {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 2px var(--color-border-bold);
}

.button-templates::after {
    vertical-align: middle;
    content: ' ➜';
}

.block-featured {
    margin-bottom: 50px;
}
.featured-title {
    color: var(--color-subtitle);
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.featured-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90px;
    max-width: 1280px;
    width: 100%;

}

.block-start-learn {
    margin-bottom: 50px;
}

.block-start-learn__title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 28px;
}

.wrapp__block-videos {
    display: flex;
}

.block-video {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 60px;
}

.cover {
    background-color: var(--color-foreground);
    width: 100%;
    margin-bottom: 30px;
}

.title-video > a {
    text-decoration: none;
    color: var(--color-foreground);
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.description-video {
    font-size: 18px;
    line-height: 1.7em;
}

.block-templates {
    margin-bottom: 60px;
}

.block-templates__title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 28px;
}

.wrap_card {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card-templates {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.cover-templates {
    background-color: var(--color-foreground);
    width: 100%;
    margin-bottom: 30px;
}

.title-templates > a {
    text-decoration: none;
    color: var(--color-background-alt);
    display: inline-block;
    margin-bottom: 25px;
    font-size: 22px;
}

.about-templates {
    font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 25px;
}

.description-templates {
    font-size: 18px;
    line-height: 1.7em;
}

.block-subscribe {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}
.block-subscribe__title {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.block-subscribe > p {
    display: inline-block;
    font-size: 18px;
    line-height: 1.7em;
    margin: 15px 0;
}

.form-wrap {
    display: flex;
}
.input-form {
    width: 100%;
    height: 60px;
    border: solid 1px var(--color-background-alt);
    border-radius: 10px;
    padding-left: 20px;
    font-size: 18px;
    margin: 0 10px 0 50px;
    
}

.button-form {
    height: 60px;
    background-color: var(--color-background-accent);
    color: var(--color-foreground-alt);
    border: solid 2px var(--color-background-accent);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 20px;
    min-width: 190px;
    letter-spacing: 0.8px;
    cursor: pointer;
    margin: 0 50px 0 10px;
}

.button-form::after {
    vertical-align: middle;
    content: ' ➜';
}

.block-about {
    padding-top: 30px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.block-about__title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.block-about__title {
    text-align: center;
    margin-bottom: 60px;
}

.wrap-about-text {
    width: 100%;
}

.wrap-about-text > p {
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.wrap-about-text > p > a {
    text-decoration: none;
    color: var(--color-link);
}

.wrap-about-img {
    width: 100%;
    padding: 10px;
}
.about-img {
    max-width: 605px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.block-interviews__title {
    color: var(--color-subtitle);
    margin: 60px 0 40px 0;
    text-align: center;
}

.wrap-interviews {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.wrap-interviews-img {
    width: 100%;
}

.interviews-img {
    max-width: 430px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.list-interviews {
    width: 100%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item-interviews {
    list-style: none;
    font-size: 18px;
    white-space: nowrap;
}

.item-interviews::before {
    content: url('data:image/svg+xml,<svg width="22px" height="22px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-g</title><line x1="192" y1="448" x2="320" y2="448" style="fill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><path d="M384,208v32c0,70.4-57.6,128-128,128h0c-70.4,0-128-57.6-128-128V208" style="fill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line x1="256" y1="368" x2="256" y2="448" style="fill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><path d="M256,64a63.68,63.68,0,0,0-64,64V239c0,35.2,29,65,64,65s64-29,64-65V128C320,92,292,64,256,64Z" style="fill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path></g></svg>');
    vertical-align: middle;
    margin-right: 8px;
}

.block-link-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.block-link-content__title {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.wrap-link-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.youtube-logo {
    margin-bottom: 30px;
    content: url('data:image/svg+xml,<svg width="64px" height="45px" viewBox="0 -3 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23878787" stroke="%23878787"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>youtube [%23168]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-300.000000, -7442.000000)" fill="%23878787"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M251.988432,7291.58588 L251.988432,7285.97425 C253.980638,7286.91168 255.523602,7287.8172 257.348463,7288.79353 C255.843351,7289.62824 253.980638,7290.56468 251.988432,7291.58588 M263.090998,7283.18289 C262.747343,7282.73013 262.161634,7282.37809 261.538073,7282.26141 C259.705243,7281.91336 248.270974,7281.91237 246.439141,7282.26141 C245.939097,7282.35515 245.493839,7282.58153 245.111335,7282.93357 C243.49964,7284.42947 244.004664,7292.45151 244.393145,7293.75096 C244.556505,7294.31342 244.767679,7294.71931 245.033639,7294.98558 C245.376298,7295.33761 245.845463,7295.57995 246.384355,7295.68865 C247.893451,7296.0008 255.668037,7296.17532 261.506198,7295.73552 C262.044094,7295.64178 262.520231,7295.39147 262.895762,7295.02447 C264.385932,7293.53455 264.28433,7285.06174 263.090998,7283.18289" id="youtube-[%23168]"></path></g></g></g></g></svg>');
}

.twitter-logo {
    margin-bottom: 30px;
    content: url('data:image/svg+xml,<svg width="64px" height="45px" viewBox="0 -2 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23878787" stroke="%23878787"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>twitter [%23878787]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-60.000000, -7521.000000)" fill="%23878787"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M10.29,7377 C17.837,7377 21.965,7370.84365 21.965,7365.50546 C21.965,7365.33021 21.965,7365.15595 21.953,7364.98267 C22.756,7364.41163 23.449,7363.70276 24,7362.8915 C23.252,7363.21837 22.457,7363.433 21.644,7363.52751 C22.5,7363.02244 23.141,7362.2289 23.448,7361.2926 C22.642,7361.76321 21.761,7362.095 20.842,7362.27321 C19.288,7360.64674 16.689,7360.56798 15.036,7362.09796 C13.971,7363.08447 13.518,7364.55538 13.849,7365.95835 C10.55,7365.79492 7.476,7364.261 5.392,7361.73762 C4.303,7363.58363 4.86,7365.94457 6.663,7367.12996 C6.01,7367.11125 5.371,7366.93797 4.8,7366.62489 L4.8,7366.67608 C4.801,7368.5989 6.178,7370.2549 8.092,7370.63591 C7.488,7370.79836 6.854,7370.82199 6.24,7370.70483 C6.777,7372.35099 8.318,7373.47829 10.073,7373.51078 C8.62,7374.63513 6.825,7375.24554 4.977,7375.24358 C4.651,7375.24259 4.325,7375.22388 4,7375.18549 C5.877,7376.37088 8.06,7377 10.29,7376.99705" id="twitter-[%23878787]"></path></g></g></g></g></svg>');
}

.nebula-logo {
    margin-bottom: 30px;
    content: url('data:image/svg+xml,<svg fill="%23878787" width="64px" height="45px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)" stroke="%23878787"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16 4.588l2.833 8.719H28l-7.416 5.387 2.832 8.719L16 22.023l-7.417 5.389 2.833-8.719L4 13.307h9.167L16 4.588z"></path></g></svg>');
}

.spotify-img {
    margin-bottom: 30px;
    content: url('data:image/svg+xml,<svg width="64px" height="45px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23878787" stroke="%23878787"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>spotify [%23878787162]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-140.000000, -7479.000000)" fill="%23878787"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M99.915,7327.865 C96.692,7325.951 91.375,7325.775 88.297,7326.709 C87.803,7326.858 87.281,7326.58 87.131,7326.085 C86.981,7325.591 87.26,7325.069 87.754,7324.919 C91.287,7323.846 97.159,7324.053 100.87,7326.256 C101.314,7326.52 101.46,7327.094 101.196,7327.538 C100.934,7327.982 100.358,7328.129 99.915,7327.865 L99.915,7327.865 Z M99.81,7330.7 C99.584,7331.067 99.104,7331.182 98.737,7330.957 C96.05,7329.305 91.952,7328.827 88.773,7329.792 C88.36,7329.916 87.925,7329.684 87.8,7329.272 C87.676,7328.86 87.908,7328.425 88.32,7328.3 C91.951,7327.198 96.466,7327.732 99.553,7329.629 C99.92,7329.854 100.035,7330.334 99.81,7330.7 L99.81,7330.7 Z M98.586,7333.423 C98.406,7333.717 98.023,7333.81 97.729,7333.63 C95.381,7332.195 92.425,7331.871 88.944,7332.666 C88.609,7332.743 88.274,7332.533 88.198,7332.197 C88.121,7331.862 88.33,7331.528 88.667,7331.451 C92.476,7330.58 95.743,7330.955 98.379,7332.566 C98.673,7332.746 98.766,7333.129 98.586,7333.423 L98.586,7333.423 Z M94,7319 C88.477,7319 84,7323.477 84,7329 C84,7334.523 88.477,7339 94,7339 C99.523,7339 104,7334.523 104,7329 C104,7323.478 99.523,7319.001 94,7319.001 L94,7319 Z" id="spotify-[%23878787162]"></path></g></g></g></g></svg>');
}

.block-link {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 40px 50px;
    cursor: pointer;

}

.link-title {
    font-weight: bold;
    color: var(--color-subtitle);
    font-size: 18px;
    margin-bottom: 10px;
}

.link-subtitle {
    color: var(--color-subtitle);
    font-size: 18px;
}

.footer {
    padding: 50px 50px 25px 50px;
    background-color: var(--color-background-footer);
    font-size: 15px;
}

.footer__nav {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.footer__nav > ul {
    margin-bottom: 20px;
}

.footer__nav > * {
    list-style-type: none;
}

.item-link--bold {
    font-weight: bold;
}

.item-link {
    text-decoration: none;
    color: var(--color-foreground-alt);
    display: inline-block;
    margin-bottom: 10px;
}

.block-copyright-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-foreground-alt);
    font-size: 12px;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.copyright-info > * {
    display: inline-block;
    text-decoration: none;
    color: var(--color-foreground-alt);
}

.social-links {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.logo-social {
    display: inline-block;
    cursor: pointer;
}

.logo-youtube {
    content: url('data:image/svg+xml,<svg width="22.5px" height="20px" viewBox="0 -3 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>youtube [%23168]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-300.000000, -7442.000000)" fill="%23ffffff"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M251.988432,7291.58588 L251.988432,7285.97425 C253.980638,7286.91168 255.523602,7287.8172 257.348463,7288.79353 C255.843351,7289.62824 253.980638,7290.56468 251.988432,7291.58588 M263.090998,7283.18289 C262.747343,7282.73013 262.161634,7282.37809 261.538073,7282.26141 C259.705243,7281.91336 248.270974,7281.91237 246.439141,7282.26141 C245.939097,7282.35515 245.493839,7282.58153 245.111335,7282.93357 C243.49964,7284.42947 244.004664,7292.45151 244.393145,7293.75096 C244.556505,7294.31342 244.767679,7294.71931 245.033639,7294.98558 C245.376298,7295.33761 245.845463,7295.57995 246.384355,7295.68865 C247.893451,7296.0008 255.668037,7296.17532 261.506198,7295.73552 C262.044094,7295.64178 262.520231,7295.39147 262.895762,7295.02447 C264.385932,7293.53455 264.28433,7285.06174 263.090998,7283.18289" id="youtube-[%23168]"></path></g></g></g></g></svg>');
}

.logo-twitter {
    content: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 -2 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>twitter [%23154]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-60.000000, -7521.000000)" fill="%23ffffff"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M10.29,7377 C17.837,7377 21.965,7370.84365 21.965,7365.50546 C21.965,7365.33021 21.965,7365.15595 21.953,7364.98267 C22.756,7364.41163 23.449,7363.70276 24,7362.8915 C23.252,7363.21837 22.457,7363.433 21.644,7363.52751 C22.5,7363.02244 23.141,7362.2289 23.448,7361.2926 C22.642,7361.76321 21.761,7362.095 20.842,7362.27321 C19.288,7360.64674 16.689,7360.56798 15.036,7362.09796 C13.971,7363.08447 13.518,7364.55538 13.849,7365.95835 C10.55,7365.79492 7.476,7364.261 5.392,7361.73762 C4.303,7363.58363 4.86,7365.94457 6.663,7367.12996 C6.01,7367.11125 5.371,7366.93797 4.8,7366.62489 L4.8,7366.67608 C4.801,7368.5989 6.178,7370.2549 8.092,7370.63591 C7.488,7370.79836 6.854,7370.82199 6.24,7370.70483 C6.777,7372.35099 8.318,7373.47829 10.073,7373.51078 C8.62,7374.63513 6.825,7375.24554 4.977,7375.24358 C4.651,7375.24259 4.325,7375.22388 4,7375.18549 C5.877,7376.37088 8.06,7377 10.29,7376.99705" id="twitter-[%23154]"></path></g></g></g></g></svg>');
}

.logo-instagram {
    content: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="%23ffffff"></path><path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="%23ffffff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" fill="%23ffffff"></path></g></svg>');
}

.logo-spotify {
    content: url('data:image/svg+xml,<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>spotify [%23162]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-140.000000, -7479.000000)" fill="%23ffffff"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M99.915,7327.865 C96.692,7325.951 91.375,7325.775 88.297,7326.709 C87.803,7326.858 87.281,7326.58 87.131,7326.085 C86.981,7325.591 87.26,7325.069 87.754,7324.919 C91.287,7323.846 97.159,7324.053 100.87,7326.256 C101.314,7326.52 101.46,7327.094 101.196,7327.538 C100.934,7327.982 100.358,7328.129 99.915,7327.865 L99.915,7327.865 Z M99.81,7330.7 C99.584,7331.067 99.104,7331.182 98.737,7330.957 C96.05,7329.305 91.952,7328.827 88.773,7329.792 C88.36,7329.916 87.925,7329.684 87.8,7329.272 C87.676,7328.86 87.908,7328.425 88.32,7328.3 C91.951,7327.198 96.466,7327.732 99.553,7329.629 C99.92,7329.854 100.035,7330.334 99.81,7330.7 L99.81,7330.7 Z M98.586,7333.423 C98.406,7333.717 98.023,7333.81 97.729,7333.63 C95.381,7332.195 92.425,7331.871 88.944,7332.666 C88.609,7332.743 88.274,7332.533 88.198,7332.197 C88.121,7331.862 88.33,7331.528 88.667,7331.451 C92.476,7330.58 95.743,7330.955 98.379,7332.566 C98.673,7332.746 98.766,7333.129 98.586,7333.423 L98.586,7333.423 Z M94,7319 C88.477,7319 84,7323.477 84,7329 C84,7334.523 88.477,7339 94,7339 C99.523,7339 104,7334.523 104,7329 C104,7323.478 99.523,7319.001 94,7319.001 L94,7319 Z" id="spotify-[%23162]"></path></g></g></g></g></svg>');
}

.logo-facebook {
    content: url('data:image/svg+xml,<svg fill="%23ffffff" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"></path></g></svg>');
}

@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }
    .mobile-nav {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }

    .block-greating__text {
        justify-content: space-between;
    }

    .main-title {
        font-size: 50px;
    }

    .main-text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .main-title {
        font-size: 38px;
    }
    
    .main-text {
        font-size: 20px;
    }

    .about-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .wrap-interviews {
        display: flex;
        flex-direction: column;
    }

    .interviews-img {
        max-width: 90%;
        padding: 20px;
    }

    .list-interviews {
        padding: 0;
    }
    .item-interviews {
        margin: 10px;
    }
}

@media (max-width: 770px) {
    .mobile-nav {
        max-width: 70px;
    }
    .button__search-popup {
        margin-left: 5px;
    }
    .button__mobile-menu {
        margin-left: 5px;
    }

    .block-greating {
        flex-direction: column;
        height: auto;
    }

    .block-greating__text {
        margin: 0;
        padding: 30px;
    }

    .block-greating__text > * {
        margin-bottom: 25px;
    }

    .block-greating__button {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .block-greating__button > * {
        width: 100%;
    }
    
    .featured-logo {
        max-height: 175px;
    }

    .button-learn {
        position: relative;
    }
    .button-learn::after {
        position: absolute;
        top: 10px;
        right: 30px;

    }

    .button-templates {
        position: relative;
    }
    .button-templates::after {
        position: absolute;
        top: 10px;
        right: 30px;

    }

    .block-greating__foto {
        margin: 0;
        padding: 30px;
    }
    
    .wrapp__block-videos {
        flex-direction: column;
    }

    .wrap_card {
        flex-wrap: wrap;
    }
    
    .form-wrap {
        flex-direction: column;
    }
    
    .input-form {
        margin: 15px 0;
    }
    
    .button-form {
        margin: 15px 0;
    }

    .wrap-link-content {
        flex-direction: column;
    }

    .footer__nav {
        flex-direction: column;
    }
    
    .footer__nav > ul {
        margin-bottom: 40px;
    }

    .block-copyright-social {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        height: 60px;
    }
}


.svg-sprite {
    fill: #000;
    width: 50px;
    height: 50px;
    background-color: gray;
}
